let
  pkgs = import {{.FlakeRef}} {};
  fhs = (pkgs.callPackage <nixpkgs/pkgs/build-support/build-fhs-userenv/env.nix> {}) {
    name = "container-fhs";
    targetPkgs = pkgs: with pkgs; [
    {{- range .Packages}}
      {{.}}
    {{- end}}
    ];
    multiPkgs = null;  # Don't include glibc's multilib
  };
  stream = pkgs.dockerTools.streamLayeredImage {
    name = "{{.Name}}";
    contents = pkgs.symlinkJoin {
      name = "contents";
      paths = [ fhs ];
    };
    config = {
      Env = [
        "PATH=/bin"
        "SSL_CERT_FILE=${pkgs.cacert}/etc/ssl/certs/ca-bundle.crt"
      ];
    };
  };
in
pkgs.runCommand "write-oci-layout" {
  nativeBuildInputs = [ pkgs.pigz ];
} ''
  ${stream} | pigz -nT > $out
''
