version: 2
updates:
  - package-ecosystem: "gomod"
    directory: "/"
    schedule:
      interval: "weekly"
      day: "monday"
      time: "07:00"
      timezone: "UTC"
    labels:
      - "kind/dependencies"
      - "area/engine"
      - "area/cli"
    groups:
      engine:
        applies-to: version-updates
        patterns:
          - "*"

  - package-ecosystem: "gomod"
    directory: "/ci"
    schedule:
      interval: "weekly"
      day: "monday"
      time: "07:00"
      timezone: "UTC"
    labels:
      - "kind/dependencies"
      - "area/ci"
    groups:
      engine-tools:
        applies-to: version-updates
        patterns:
          - "*"

  - package-ecosystem: "npm"
    directory: "/sdk/typescript"
    schedule:
      interval: "weekly"
      day: "monday"
      time: "07:00"
      timezone: "UTC"
    labels:
      - "kind/dependencies"
      - "area/sdk/typescript"
    groups:
      sdk-typescript:
        applies-to: version-updates
        patterns:
          - "*"

  - package-ecosystem: "npm"
    directory: "/website"
    schedule:
      interval: "weekly"
      day: "monday"
      time: "07:00"
      timezone: "UTC"
    labels:
      - "kind/dependencies"
      - "area/documentation"
    groups:
      website:
        applies-to: version-updates
        patterns:
          - "*"

  - package-ecosystem: "gomod"
    directory: "/sdk/go"
    schedule:
      interval: "weekly"
      day: "monday"
      time: "07:00"
      timezone: "UTC"
    labels:
      - "kind/dependencies"
      - "area/sdk/go"
    groups:
      sdk-go:
        applies-to: version-updates
        patterns:
          - "*"

  - package-ecosystem: "pip"
    directory: "/sdk/python"
    schedule:
      interval: "weekly"
      day: "monday"
      time: "07:00"
      timezone: "UTC"
    labels:
      - "kind/dependencies"
      - "area/sdk/python"
    groups:
      sdk-python:
        applies-to: version-updates
        patterns:
          - "*"

  - package-ecosystem: "maven"
    directory: "/sdk/java"
    schedule:
      interval: "weekly"
      day: "monday"
      time: "07:00"
      timezone: "UTC"
    labels:
      - "kind/dependencies"
      - "area/sdk/java"
    ignore:
      # ignore maven dependencies (API, plugins, etc)
      - dependency-name: "org.apache.maven*"
    groups:
      sdk-java:
        applies-to: version-updates
        patterns:
          - "*"
