version: 2
updates:
  - package-ecosystem: "gomod"
    directory: "/"
    schedule:
      interval: "monthly"
    labels:
      - "kind/dependencies"
      - "area/engine"
      - "area/cli"
    ignore:
      - dependency-name: "*"
        update-types: ["version-update:semver-patch"]

  - package-ecosystem: "docker"
    directory: "/"
    schedule:
      interval: "monthly"
    labels:
      - "kind/dependencies"
      - "area/tooling"
    ignore:
      - dependency-name: "*"
        update-types: ["version-update:semver-patch"]

  - package-ecosystem: "gomod"
    directory: "/internal/mage"
    schedule:
      interval: "monthly"
    labels:
      - "kind/dependencies"
      - "area/tooling"
    ignore:
      - dependency-name: "*"
        update-types: ["version-update:semver-patch"]

  - package-ecosystem: "npm"
    directory: "/sdk/typescript"
    schedule:
      interval: "monthly"
    labels:
      - "kind/dependencies"
      - "sdk/typescript"
    ignore:
      - dependency-name: "*"
        update-types: ["version-update:semver-patch"]

  - package-ecosystem: "npm"
    directory: "/website"
    schedule:
      interval: "monthly"
    labels:
      - "kind/dependencies"
      - "area/docs"
    ignore:
      - dependency-name: "*"
        update-types: ["version-update:semver-patch"]

  - package-ecosystem: "gomod"
    directory: "/sdk/go"
    schedule:
      interval: "monthly"
    labels:
      - "kind/dependencies"
      - "sdk/go"
    ignore:
      - dependency-name: "*"
        update-types: ["version-update:semver-patch"]

  - package-ecosystem: "pip"
    directory: "/sdk/python"
    schedule:
      interval: "monthly"
    labels:
      - "kind/dependencies"
      - "sdk/python"
    ignore:
      - dependency-name: "*"
        update-types: ["version-update:semver-patch"]

  # ignore all npm dependencies in sdk/rust
  - package-ecosystem: "npm"
    directory: "/sdk/rust"
    schedule:
      interval: "monthly"
    ignore:
      - dependency-name: "*"

  - package-ecosystem: "maven"
    directory: "/sdk/java"
    schedule:
      interval: "monthly"
    labels:
      - "kind/dependencies"
      - "sdk/java"
    ignore:
      - dependency-name: "*"
        update-types: ["version-update:semver-patch"]
      # ignore maven dependencies (API, plugins, etc)
      - dependency-name: "org.apache.maven*"
