version: 2
updates:
  - package-ecosystem: "gomod"
    directory: "/"
    schedule:
      interval: "monthly"
    labels:
      - "kind/dependencies"
      - "area/engine"
      - "area/cli"
    ignore:
      - dependency-name: "*"
        update-types: ["version-update:semver-patch"]

  - package-ecosystem: "docker"
    directory: "/"
    schedule:
      interval: "monthly"
    labels:
      - "kind/dependencies"
      - "area/tooling"
    ignore:
      - dependency-name: "*"
        update-types: ["version-update:semver-patch"]

  - package-ecosystem: "npm"
    directory: "/sdk/nodejs"
    schedule:
      interval: "monthly"
    labels:
      - "kind/dependencies"
      - "sdk/nodejs"
    ignore:
      - dependency-name: "*"
        update-types: ["version-update:semver-patch"]

  - package-ecosystem: "npm"
    directory: "/website"
    schedule:
      interval: "monthly"
    labels:
      - "kind/dependencies"
      - "area/docs"
    ignore:
      - dependency-name: "*"
        update-types: ["version-update:semver-patch"]

  - package-ecosystem: "gomod"
    directory: "/sdk/go"
    schedule:
      interval: "monthly"
    labels:
      - "kind/dependencies"
      - "sdk/go"
    ignore:
      - dependency-name: "*"
        update-types: ["version-update:semver-patch"]

  - package-ecosystem: "pip"
    directory: "/sdk/python"
    schedule:
      interval: "monthly"
    labels:
      - "kind/dependencies"
      - "sdk/python"
    ignore:
      - dependency-name: "*"
        update-types: ["version-update:semver-patch"]
