# General
.DS_Store

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
stub/stub

# Test binary, build with `go test -c`
*.test
**/*/report.xml

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# vscode
.vscode

# intellij
.idea

node_modules

# python
venv
__pycache__

# Built Binary
/cloak
