# CODEOWNERS is a tool to encode PR approval rules.
#
# When a PR is opened, at least one code owner is required to approve it
# before being merged.
#
# It does **not**:
#
# - Limit reviewers: Everyone is welcome and encouraged to review any PR.
#   But at least one CODEOWNER must approve before merging.
#
# - Limit contributions or ownership: Every maintainer is responsible for
#   the entire project. CODEOWNERs are there to review PRs for
#   consistency.
#
# By default, any maintainer can approve any PR. There's a couple of
# exceptions for consistency/specialty.

# Default owners for everything in the repo
# Later matches takes precedence
*                           @dagger/maintainers

# Core CUE API
/pkg/dagger.io/             @helderco @shykes

# Universe
/pkg/universe.dagger.io/    @helderco @shykes

# Universe experimental
/pkg/universe.dagger.io/x/    @helderco @jpadams

# Universe alpha
/pkg/universe.dagger.io/alpha/    @helderco @jpadams

# Universe beta
/pkg/universe.dagger.io/beta/    @helderco @jpadams

# Documentation Website
# Exception: Sidebar changes use regular CODEOWNERS
/website/                   @slumbering
/website/sidebars.js

# dagger command-line 
/cmd/dagger/                @shykes @samalba @aluzzardi

# Changing this file requires approval of project owners
/CODEOWNERS                   @shykes @samalba @aluzzardi
