package {{ .Package }}

import (
	"context"

	"github.com/Khan/genqlient/graphql"
	"go.dagger.io/dagger/sdk/go/dagger/querybuilder"
)

// New returns a new API query object
func New(c graphql.Client) *{{ .Schema.QueryType.Name }} {
	return &{{ .Schema.QueryType.Name }}{
		q: querybuilder.Query(),
		c: c,
	}
}
