{{ .Description | Comment }}
type {{ .Name | FormatName }} string

// graphqlType returns the native GraphQL type name
func (s {{ .Name | FormatName }}) graphqlType() string {
	return "{{ .Name }}"
}

// graphqlMarshal serializes the structure into GraphQL
func (s {{ .Name | FormatName }}) graphqlMarshal(ctx context.Context) (any, error) {
    return string(s), nil
}
