@use "sass:meta";
$mobile-width: 480px;
$tablet-width: 996px;
$desktop-width: 997px;
$desktop-xl-width: 1160px;

@mixin mobile {
  @media (max-width: #{$mobile-width}) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: #{$tablet-width}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

@mixin desktopWide {
  @media (min-width: #{$desktop-xl-width}) {
    @content;
  }
}


.header-github-link {
  height: 35px;
  margin: 0;
  padding: 0;
  // background: url("/img/github-icon.svg") no-repeat;
  background-color: black;
  mask-image: url('/img/github-icon.svg');
  mask-size: 100%;

  @include desktop {
    width: 35px;
    text-indent: 40px;
    white-space: nowrap;
    overflow: hidden;
  }

  @include tablet {
    background-color: var(--ifm-color-primary);
  }
}

.header-discord-link{
  height: 30px;
  margin: 0;
  padding: 0;
  background-color: black;
  mask-image: url("/img/discord-icon.svg");
  mask-size: 35px;

  @include desktop {
    width: 30px;
    text-indent: 40px;
    white-space: nowrap;
    overflow: hidden;
  }

  @include tablet {
    background-color: var(--ifm-color-primary);
  }
}

html[data-theme="dark"] {
  .header-discord-link, .header-github-link  {
    background-color: white;
  }
}