{{ .Description | Comment }}
type {{ .Name | PascalCase }} struct {
{{- range $field := .InputFields }}
{{ $field.Description | Comment }}
{{ $field.Name | PascalCase }} {{ $field.TypeRef | FormatRef }} `json:"{{ $field.Name }}"`
{{ end }}
}
