{{ define "input_args" -}}
	{{- if .Args -}}
args
		{{- if IsArgOptional .Args -}}
?
		{{- end }}

		{{- $parentName := .ParentObject.Name }}
		{{- if eq $parentName "Query" }}
			{{- $parentName = "Client" }}
		{{- end -}}
: {{ $parentName | PascalCase }}{{ .Name | PascalCase }}Args{{ "" -}}
	{{- end -}}
{{- end }}
