{{ define "method_comment" }}
	{{- $required := GetRequiredArgs .Args -}}
	{{- $optionals := GetOptionalArgs .Args -}}
	{{- $deprecationLines := FormatDeprecation .DeprecationReason }}
	{{- if or .Description .Args .IsDeprecated -}}
		{{- $commentLines := CommentToLines .Description }}
		{{- /* we split the comment string into a string slice of one line per element */ -}}
{{""}}
{{""}}
  /**
		{{- range $commentLines }}
   * {{ . }}
		{{- end }}
	{{- end }}

	{{- range $required }}
		{{- if .Description }}
   * @param {{ .Name }} {{ .Description }}
		{{- end }}
	{{- end }}

	{{- range $optionals }}
		{{- if .Description }}
   * @param opts.{{ .Name }} {{ .Description }} 
   		{{- end }}
	{{- end }}

	{{- if .IsDeprecated }}
		{{- range $deprecationLines }}
   * {{ . }}
		{{- end }}
	{{- end }}

	{{- if or .Description .Args .IsDeprecated }}
   */
	{{- end }}
{{ "" -}}
{{- end }}
