{{ define "method" }}
	{{- $parentName := .ParentObject.Name }}
	
	{{- $required := GetRequiredArgs .Args }}
	{{- $optionals := GetOptionalArgs .Args }}
	{{- if $optionals }}
		{{- if eq $parentName "Query" }}
			{{- $parentName = "Client" }}
		{{- end -}}
	{{- end }}

{{- template "method_comment" . }}
{{- "" }}  {{ .Name -}}(
{{- with $required }}
	{{- template "args" $required }}
{{- end }}
{{- if $optionals }}
	{{- if $required }}, {{ end }}
	{{- "" }}opts?: {{ $parentName | PascalCase }}{{ .Name | PascalCase }}Opts
{{- end }}
{{- "" }}){{ template "return" .TypeRef }} {
		{{- if .TypeRef }}
    return new {{ .TypeRef | FormatOutputType }}({
      queryTree: [
        ...this._queryTree,
        {
          operation: "{{ .Name}}",
			{{- if or $required $optionals }}
          args: { {{""}}
      				{{- with $required }}
					{{- template "call_args" $required }}
				{{- end }}
      				{{- with $optionals }}
      					{{- if $required }}, {{ end -}}
        ...opts
				{{- end -}}
{{""}} },
			{{- end }}
        },
      ],
      host: this.clientHost,
      sessionToken: this.sessionToken,
    })
		{{- end }}
  }
{{- end }}
