{{ define "type_field_comment" -}}
	{{- if . -}}
		{{- /* we split the comment string into a string slice of one line per element */ -}}
		{{- $commentLines := CommentToLines . }}
  /**
		{{- range $commentLines }}
   * {{ . }}
		{{- end }}
   */
	{{- end }}
{{- end }}
