.button {
  align-self: flex-end;
  border-radius: 100px;
  width: 100%;
  padding: 0.5rem 1.5rem;
  max-width: 300px;
  transition: all 0.2s ease;

  html[data-theme="dark"] & {
    background-color: var(--ifm-color-secondary);
    color: var(--ifm-color-primary-darker);
  }

  /* font */
  font-style: normal;
  font-weight: bold;
  font-size: 1rem;
  text-align: center;
}

.anchor {
  display: block;
  text-decoration: none !important;
  width: fit-content;
}

.button.light {
  background-color: var(--ifm-color-secondary);
  color: var(--ifm-color-primary-darker);

  &:hover {
    background-color: var(--ifm-color-primary-light);
  }
}

.button.dark {
  background-color: var(--ifm-color-primary-darker);
  color: var(--ifm-color-primary-light);

  &:hover {
    background-color: var(--ifm-color-grey-dark);
  }

  html[data-theme="dark"] &:hover {
    background-color: var(--ifm-color-primary-light);
    color: var(--ifm-color-primary-darker);
  }
}

.playground {
  margin-bottom: 25px;
  display: block;
  width: fit-content;
  text-decoration: none !important;
  background: #3D66FF;
  color: white !important;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0em;
  text-align: left;
  padding: 0.625rem 1.5rem;
  border: 1;
  border-radius: 50px;
  transition: background 0.25s ease;
  white-space: nowrap;

  &:hover {
      background: rgba($color: #3D66FF, $alpha: 0.8);
      cursor: pointer;
  }
}
