@use "../custom.scss";

.guideIndex {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include custom.desktop {
    align-items: start;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 1.5rem;
    justify-content: center;
    padding-left: 0px;
  }

  li {
    list-style: none;
    text-decoration: none;
    margin-top: 0px !important;
    min-width: 350px;
    max-width: 600px;
    flex: 1 1 400px;
  }
}

.selectedTags {
  height: 50px;
  display: flex;
  gap: 5px;
  flex-grow: inherit;
  align-items: flex-start;
}

.filterWrapper {
  position: relative;
  margin-bottom: 1.5rem;
  border: 1px solid var(--ifm-color-primary-darker);
  min-width: 300px;
  max-width: 600px;
  width: 80%;
    html[data-theme="dark"] & {
    border: 1px solid var(--ifm-color-primary-light);
  }
}

.filter {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem 1rem;
  min-height: 50px;
  gap: 10px;
}

.filterTags {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 5px;
}

.filterInput {
  border: none;

  &:focus,
  &:focus-visible {
    outline: none;
  }

  html[data-theme="dark"] & {
    color: var(--ifm-color-primary-light);
    background: transparent;
  }
}

.filterDropdown {
  position: absolute;
  left: -1px;
  right: -1px;
  border: 1px solid var(--ifm-color-primary-darker);
  background-color: white;
  max-height: 200px;
  overflow-y: scroll;

  html[data-theme="dark"] & {
    border: 1px solid var(--ifm-color-primary-light);
  }

  ul {
    padding: 0px;
    margin: 0px;
    gap: 0;
  }

  li {
    font-size: 0.8rem;
    margin: 0px;
    padding: 0.5rem 0.5rem;
    min-width: initial;
    cursor: pointer;
  }

  li:last-of-type {
    border-bottom: none;
  }

  li:hover {
    background-color: lightgray;
  }

  html[data-theme="dark"] & {
    color: var(--ifm-color-primary-light);
    background: var(--ifm-color-primary-dark);
    li:hover {
      background-color: rgba(211, 211, 211, 0.118);
    }
  }
}

.guideCard {
  height: 100%;
  border: 1px solid var(--ifm-color-primary-darker);
  display: flex;
  gap: 0.8rem;
  flex-wrap: wrap;
  background-color: transparent;
  color: var(--ifm-color-primary-dark) !important;
  text-decoration: none !important;
  box-shadow: 4px 4px 0px #40b9bc;
  padding: 3%;

  p {
    font-size: 1rem;
    margin: 0;
  }

  html[data-theme="dark"] & {
    border: 1px solid var(--ifm-color-primary-light);

    p,
    h4,
    time {
      color: var(--ifm-color-primary-light) !important;
    }

    a div {
      background-color: var(--ifm-color-primary-darker);
      color: var(--ifm-color-primary-light);

      &:hover {
        background-color: var(--ifm-color-grey-dark);
      }
    }
  }
}

.info {
  min-width: fit-content;
  width: 100%;
  a h3:hover {
    width: initial;
    text-decoration: underline;
  }

  time {
    font-size: 0.8rem;
  }

  h3,
  h4 {
    margin: 0;
  }
}

.author {
  font-size: 0.8rem;
}

.date {
  font-size: 0.8rem;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  flex-grow: inherit;
  align-items: flex-start;
  gap: 5px;
}
