.guideIndex {
  li {
    list-style: none;
    text-decoration: none;
    margin: 20px 0px;
  }
}

.guideCard {
  border: 1px solid var(--ifm-color-primary-darker);
  display: flex;
  gap: 0.8rem;
  flex-wrap: wrap;
  background-color: transparent;
  color: var(--ifm-color-primary-dark) !important;
  text-decoration: none !important;
  box-shadow: 4px 4px 0px #40b9bc;
  padding: 3%;

  transition: border color 0.2s ease-in-out;

  p {
    font-size: 1rem;
    margin: 0;
  }

  html[data-theme="dark"] & {

    border: 1px solid var(--ifm-color-primary-light);

    p,
    h4,
    time {
      color: var(--ifm-color-primary-light) !important;
    }

    a div {
      background-color: var(--ifm-color-primary-darker);
      color: var(--ifm-color-primary-light);

      &:hover {
        background-color: var(--ifm-color-grey-dark);
      }
    }
  }

}

.info {
    min-width: fit-content;
    width: 100%;
    a h3:hover {
        width: initial;
        text-decoration: underline;
    }

    time {
        font-size: 0.8rem;
    }

    h3, h4 {
        margin: 0;
    }
}

.author {
    font-size: 0.8rem;
}

.date {
    font-size: 0.8rem;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}
