@use "../custom.scss";

.quickstartDoc {
  display: flex;
  flex-wrap: nowrap;
  gap: 30px;
}

.stepContent {
  width: 40%;
}

.stepEmbed {
  position: sticky;
  top: 120px;
  width: 60%;
  right: 20px;
  height: 100%;

  & .tabs {
    background-color: var(--ifm-navbar-background-color) !important;
  }

  iframe {
    width: 100%;
    min-height: 50vh;
    height: 100%;
    height: calc(100vh - 230px);

    border-radius: var(--ifm-alert-border-radius);
  }
}

.stepContent :global(.embeds),
.stepContent iframe {
  display: none;
}

@include custom.mobile {
  .stepContent {
    width: 100%;

    iframe {
      display: inherit;
    }
  }

  .stepContent :global(.embeds) {
    display: inherit;
  }

  .stepEmbed {
    display: none;
  }
}

.spinnerWrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  position: absolute;
  padding-bottom: 300px;
  background-color: var(--ifm-background-color);
}

.spinner {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  border-top: 3px solid var(--ifm-code-color);
  border-right: 3px solid transparent;
  box-sizing: border-box;
  animation: rotation 0.8s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}