# binaries are the path to darkness
*.tar
*.tgz
*.zip
*.tar

# git worktree with wip branch
/wip

# idk
*.out

# misc debug logs
*.log

# guess
Session.vim

# directory for stashing build/test-time dependencies, e.g. buildkitd, runc,
# rootlesskit
/hack/buildkit/bin

# super secure
/secrets*

# coverage
cover.out
cover.html

# nix
/.direnv
/result

# compiled stuff
pkg/runtimes/bin/exe.*
!pkg/runtimes/bin/exe.invalid
cmd/bass/bass

# created by tests, don't want it committed
pkg/runtimes/testdata/*.tar
hack/cni-test/plugins/
iptables.rules

# created by docs, don't want it committed
docs/bass.lock

# for working on bass + its dependencies
go.work
go.work.sum

# secret env config for the v2 1Password CLI
*.env

# sometimes used for creds during dev
*.envrc
*.pem

# go profiling
*.prof

# go mod vendor dir for protobuf generation
hack/vendor

# generated demo videos
demos/*.mp4

# local builds
dist/
