[build-system]
requires = ["hatchling", "hatch-vcs"]
build-backend = "hatchling.build"

[project]
name = "dagger-io"
authors = [
    { name="Dagger Inc.", email="hello@dagger.io" },
]
description = "Dagger library"
keywords = ["dagger"]
readme = "README.md"
license = "Apache-2.0"
requires-python = ">=3.10"
classifiers = [
    "Development Status :: 3 - Alpha",
    "Intended Audience :: Developers",
    "Framework :: Hatch",
    "Framework :: AnyIO",
    "Framework :: Pytest",
    "Programming Language :: Python",
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: 3 :: Only",
    "Programming Language :: Python :: 3.10",
    "License :: OSI Approved :: Apache Software License",
    # "Operating System :: OS Independent",
    "Typing :: Typed",
]
dependencies = [
    "anyio >= 3.6.2",
    "attrs >= 22.1.0",
    "cattrs >= 22.2.0",
    "gql[aiohttp,requests] >= 3.4.0",
    "strawberry-graphql >= 0.133.5",
    "typer[all] >= 0.6.1",
]
dynamic = ["version"]

[project.urls]
"Homepage" = "https://dagger.io/"
"Bug Tracker" = "https://github.com/dagger/dagger/issues"

[project.scripts]
dagger-server-py = "dagger.server.cli:app"
dagger-py = "dagger.cli:app"

[tool.hatch.version]
source = "vcs"
fallback-version = "0.1.dev"

[tool.hatch.build.hooks.vcs]
version-file = "src/dagger/_version.py"

[tool.hatch.envs.default]
dependencies = [
    "pytest >= 7.2.0",
    "pytest-mock >= 3.10.0",
]

[tool.hatch.envs.default.scripts]
test = "pytest -W default"
generate = [
    "dagger-py generate --output src/dagger/api/gen.py",
    "dagger-py generate --output src/dagger/api/gen_sync.py --sync",
]

[tool.hatch.envs.lint]
skip_install = true
dependencies = [
    "autoflake>=1.3.1",
    "black>=22.3.0",
    "flake8-black>=^0.3",
    "flake8-bugbear>=22.9.23",
    "flake8-eradicate>=1.3.0",
    "flake8-isort>=^5.0.0",
    "flake8>=4.0.1",
    "isort>=5.10.1",
    "mypy>=0.942",
    "typing_extensions>=4.4.0",
]

[tool.hatch.envs.lint.scripts]
typing = "mypy src/dagger tests"
style = [
    "flake8 .",
    "black --check --diff .",
    "isort --check-only --diff .",
]
fmt = [
    "autoflake --in-place .",
    "isort .",
    "black .",
    "style",
]
all = [
    "style",
    "typing",
]

[tool.pytest.ini_options]
testpaths = ["tests/"]
addopts = [
    "--import-mode=importlib",
]
markers = [
    "slow: mark test as slow (integration)",
]

[tool.mypy]
disallow_untyped_defs = false
follow_imports = "normal"
# ignore_missing_imports = true
install_types = true
non_interactive = true
warn_redundant_casts = true
pretty = true
show_column_numbers = true
warn_no_return = false
warn_unused_ignores = true
plugins = [
    "strawberry.ext.mypy_plugin",
]

[tool.black]
include = '\.pyi?$'
target-version = ["py310", "py311"]

[tool.isort]
profile = "black"
known_first_party = ["dagger"]

[tool.autoflake]
quiet = true
recursive = true
expand-star-imports = true
imports = ["graphql", "gql"]
remove-all-unused-imports = true
remove-duplicate-keys = true
remove-unused-variables = true
