{{- if IsEnum . }}
{{ .Description | Comment }}
{{- $enumName := .Name }}
type {{ $enumName }} string

func ({{ $enumName }}) IsEnum() {}

const (
	{{- range $index, $field := .EnumValues | SortEnumFields }}
	{{ $field.Description | Comment }}
	{{ $field.Name | FormatEnum}} {{ $enumName }} = "{{ $field.Name }}"
	{{ end }}
)

{{- end }}
