{{- if IsEnum . }}
{{ .Description | Comment }}
{{- $enumName := .Name }}
type {{ $enumName }} string
{{- with .Directives.SourceMap -}} // {{ .Module }} ({{ .Filelink | ModuleRelPath }}) {{- end }}

func ({{ $enumName }}) IsEnum() {}

func (v {{ $enumName }}) Name() string {
	switch v {
	{{- range $fields := .EnumValues | SortEnumFields | GroupEnumByValue }}
	{{- $field := index $fields 0 }}
	{{- $fieldName := ($field.Name | FormatEnum "") }}
	{{- $fullFieldName := print ($field.Name | FormatEnum $enumName) }}
	case {{ $fullFieldName }}:
		return "{{ $field.Name }}"
	{{- end }}
	default:
		return ""
	}
}

func (v {{ $enumName }}) Value() string {
	return string(v)
}

func (v *{{ $enumName }}) MarshalJSON() ([]byte, error) {
	return json.Marshal(v.Name())
}

func (v *{{ $enumName }}) UnmarshalJSON(dt []byte) error {
	var s string
	if err := json.Unmarshal(dt, &s); err != nil {
		return err
	}
	switch s {
	{{/* XXX: for neatness, we should group here, and return only the "main" ones */}}
	{{- range $field := .EnumValues | SortEnumFields }}
	{{- $fieldName := ($field.Name | FormatEnum "") }}
	{{- $fullFieldName := print ($field.Name | FormatEnum $enumName) }}
	case "{{ $field.Name }}":
		*v = {{ $fullFieldName }}
	{{- end }}
	default:
		return fmt.Errorf("unknown enum value %q", s)
	}
	return nil
}

{{- $needsUnscopedEnums := CheckVersionCompatibility "v0.15.0" | not }}
const (
	{{/* XXX: this is a little messy now */}}
	{{- range $fields := .EnumValues | SortEnumFields | GroupEnumByValue }}
	{{- $field := index $fields 0 }}
	{{- $fieldName := ($field.Name | FormatEnum "") }}
	{{- $fullFieldName := print ($field.Name | FormatEnum $enumName) }}
	{{- $fieldValue := $field.Directives.EnumValue }}
	{{- if not $fieldValue }}
		{{- $fieldValue = $field.Name }}
	{{- end }}
	{{ $field.Description | Comment }}
	{{ $fullFieldName }} {{ $enumName }} = "{{ $fieldValue }}"
	{{- with $field.Directives.SourceMap -}} // {{ .Module }} ({{ .Filelink | ModuleRelPath }}) {{- end }}
	{{- if $needsUnscopedEnums }}
	{{ $field.Description | Comment }}
	{{ print "use " $fullFieldName " instead" | FormatDeprecation }}
	{{ $fieldName }} {{ $enumName }} = {{ $fullFieldName }}
	{{- with $field.Directives.SourceMap -}} // {{ .Module }} ({{ .Filelink | ModuleRelPath }}) {{- end }}
	{{- end }}
	{{- $mainFieldName := $fullFieldName }}

	{{- range $field := (slice $fields 1) }}

	{{- $fieldName := ($field.Name | FormatEnum "") }}
	{{- $fullFieldName := print ($field.Name | FormatEnum $enumName) }}
	{{- $fieldValue := $field.Directives.EnumValue }}
	{{- if not $fieldValue }}
		{{- $fieldValue = $field.Name }}
	{{- end }}
	{{ $field.Description | Comment }}
	{{ $fullFieldName }} {{ $enumName }} = {{ $mainFieldName }}
	{{- with $field.Directives.SourceMap -}} // {{ .Module }} ({{ .Filelink | ModuleRelPath }}) {{- end }}
	{{- if $needsUnscopedEnums }}
	{{ $field.Description | Comment }}
	{{ print "use " $fullFieldName " instead" | FormatDeprecation }}
	{{ $fieldName }} {{ $enumName }} = {{ $mainFieldName }}
	{{- with $field.Directives.SourceMap -}} // {{ .Module }} ({{ .Filelink | ModuleRelPath }}) {{- end }}
	{{- end }}
	
	{{- end }}
	{{ end }}
)

{{- end }}
