{{- if IsEnum . }}
{{ .Description | Comment }}
{{- $enumName := .Name }}
type {{ $enumName }} string
{{- with .Directives.SourceMap -}} // {{ .Module }} ({{ .Filelink | ModuleRelPath }}) {{- end }}

func ({{ $enumName }}) IsEnum() {}

const (
	{{- range $index, $field := .EnumValues | SortEnumFields }}
	{{ $field.Description | Comment }}
	{{ $field.Name | FormatEnum}} {{ $enumName }} = "{{ $field.Name }}"
	{{- with .Directives.SourceMap -}} // {{ .Module }} ({{ .Filelink | ModuleRelPath }}) {{- end }}
	{{ end }}
)

{{- end }}
