{{ .Description | Comment }}
type {{ .Name | FormatName }} interface {
{{- with .Directives.SourceMap -}} // {{ .Module }} ({{ .Filelink | ModuleRelPath }}) {{- end }}
	DaggerObject
{{ range $field := .Fields }}
	{{- $field.Description | Comment }}
	{{- if $field.IsDeprecated }}
	//
	{{ $field.DeprecationReason | FormatDeprecation }}
	{{- end }}
	{{ InterfaceMethodSignature $field }}
{{ end }}
}

// {{ .Name | InterfaceClientName }} is the query-builder for the {{ .Name | FormatName }} interface.
type {{ .Name | InterfaceClientName }} struct {
	query *querybuilder.Selection
{{ range $field := .Fields }}
	{{- if $field.TypeRef.IsScalar }}
	{{ $field.Name }} *{{ $field.TypeRef | FormatOutputType }}
	{{- end }}
{{- end }}
}

func (r *{{ .Name | InterfaceClientName }}) WithGraphQLQuery(q *querybuilder.Selection) *{{ .Name | InterfaceClientName }} {
	return &{{ .Name | InterfaceClientName }}{
		query: q,
	}
}

{{ range $field := .Fields }}
{{- if HasOptionals $field.Args }}
// {{ $field | FieldOptionsStructName }} contains options for {{ $.Name | FormatName }}.{{ $field.Name | FormatName }}
type {{ $field | FieldOptionsStructName }} struct {
	{{- range $arg := $field.Args }}
	{{- if IsArgOptional $arg }}
	{{ $arg.Description | Comment }}
	{{- if not $arg.DefaultValueZero }}
	{{- if $arg.Description }}
	//
	{{- end }}
	// Default: {{ $arg.DefaultValue }}
	{{- end }}
	{{- if $arg.IsDeprecated }}
{{ $arg.DeprecationReason | FormatDeprecation }}
	{{- end }}
	{{- $formattedTypeRef := "" }}
	{{- if and (eq $arg.Name "id") (eq $.Name "Query") }}
	{{- $formattedTypeRef = $arg.TypeRef | FormatOutputType }}
	{{- else }}
	{{- $formattedTypeRef = FormatArgType $arg }}
	{{- end }}
	{{ $arg.Name | FormatName }} {{ $formattedTypeRef }}
	{{- with .Directives.SourceMap -}} // {{ .Module }} ({{ .Filelink | ModuleRelPath }}) {{- end }}
	{{- end }}
	{{- end }}
}

{{- end }}

{{- /* Method implementations on the query-builder struct */ -}}
{{ $field.Description | Comment }}
{{- if $field.IsDeprecated }}
//
{{ $field.DeprecationReason | FormatDeprecation }}
{{- end }}
{{- $convertID := $field | ConvertID }}
{{- $supportsVoid := CheckVersionCompatibility "v0.12.0" }}
{{ InterfaceClientMethod $.Name $field }} {
	{{- range $arg := $field.Args }}
	    {{- if and (IsPointer $arg) (not (IsArgOptional $arg)) }}
        assertNotNil("{{ $arg.Name}}", {{ $arg.Name }})
        {{- end }}
    {{- end }}

    {{- if and ($field.TypeRef.IsScalar) (not $convertID) }}
    if r.{{ $field.Name }} != nil {
        {{- if and $supportsVoid $field.TypeRef.IsVoid }}
        return nil
        {{- else }}
        return *r.{{ $field.Name }}, nil
        {{- end }}
    }
    {{- end }}
	q := r.query.Select("{{ $field.Name }}")

	{{- if HasOptionals $field.Args }}
	for i := len(opts) - 1; i >= 0; i-- {
	{{- range $arg := $field.Args }}
	{{- if IsArgOptional $arg }}
	// `{{ $arg.Name }}` optional argument
	if !querybuilder.IsZeroValue(opts[i].{{ $arg.Name | FormatName }}) {
		q = q.Arg("{{ $arg.Name }}", opts[i].{{ $arg.Name | FormatName }})
	}
	{{- end }}
	{{- end }}
	}
	{{- end }}

	{{- range $arg := $field.Args }}
	{{- if not (IsArgOptional $arg) }}
	q = q.Arg("{{ $arg.Name }}", {{ $arg.Name }})
	{{- end }}
	{{- end }}
	{{- $typeName := $field.TypeRef | FormatOutputType }}
	{{ if and $supportsVoid $field.TypeRef.IsVoid }}
		return q.Execute(ctx)
	{{- else if $convertID }}
	var id {{ $typeName }}
	if err := q.Bind(&id).Execute(ctx); err != nil {
		return nil, err
	}
	return &{{ $.Name | InterfaceClientName }}{
		query: q.Root().Select("load{{ $.Name | FormatName }}FromID").Arg("id", id),
	}, nil
	{{- else if IsInterfaceRef $field.TypeRef }}
	{{- /* Interface return: wrap in the interface's query-builder struct */ -}}
	return &{{ $typeName | InterfaceClientName }}{
		query: q,
	}
	{{- else if $field.TypeRef.IsObject }}
	return &{{ $typeName }}{
		query: q,
	}
	{{- else if or $field.TypeRef.IsScalar $field.TypeRef.IsList }}
		{{- if and $field.TypeRef.IsList (IsListOfInterface $field.TypeRef) }}
	{{- /* List of interface: query IDs and wrap each in interface client */ -}}
	q = q.Select("id")
	type idResult struct {
		Id string
	}
	var idResults []idResult
	q = q.Bind(&idResults)
	err := q.Execute(ctx)
	if err != nil {
		return nil, err
	}
	var results []{{ $typeName | FormatArrayToSingleType }}
	for _, idResult := range idResults {
		results = append(results, &{{ $typeName | FormatArrayToSingleType | InterfaceClientName }}{
			query: q.Root().Select("load{{ $typeName | FormatArrayToSingleType }}FromID").Arg("id", idResult.Id),
		})
	}
	return results, nil
		{{- else if and $field.TypeRef.IsList (IsListOfObject $field.TypeRef) }}
    q = q.Select("{{ range $i, $v := $field | GetArrayField }}{{ if $i }} {{ end }}{{ $v.Name }}{{ end }}")

    type {{ $field.Name | ToLowerCase }} struct {
      {{ range $v := $field | GetArrayField }}
      {{ $v.Name | ToUpperCase }} {{ $v.TypeRef | FormatOutputType }}
      {{- end }}
    }

    {{$eleType := $field.TypeRef | InnerType}}
    convert := func(fields []{{ $field.Name | ToLowerCase }}) {{ $field.TypeRef | FormatOutputType }} {
        out := {{ $field.TypeRef | FormatOutputType }}{}

        for i := range fields {
            val := {{ $field.TypeRef | FormatOutputType | FormatArrayToSingleType }}{{"{"}}{{ $field | GetArrayField | FormatArrayField }}{{"}"}}
            {{- if $eleType | IsIDableObject }}
              val.query = q.Root().Select("load{{$eleType | ObjectName}}FromID").Arg("id", fields[i].Id)
            {{- end }}
            out = append(out, val)
        }

        return out
    }

	var response []{{ $field.Name | ToLowerCase }}
	q = q.Bind(&response)
	err := q.Execute(ctx)
	if err != nil {
	    return nil, err
	}
	return convert(response), nil
		{{- else }}
	var response {{ $field.TypeRef | FormatOutputType }}
	q = q.Bind(&response)
	return response, q.Execute(ctx)
		{{- end }}
	{{- end }}
}

{{ if eq $field.Name "id" }}
// XXX_GraphQLType is an internal function. It returns the native GraphQL type name
func (r *{{ $.Name | InterfaceClientName }}) XXX_GraphQLType() string {
	return "{{ $.Name }}"
}

// XXX_GraphQLIDType is an internal function. It returns the native GraphQL type name for the ID of this object
func (r *{{ $.Name | InterfaceClientName }}) XXX_GraphQLIDType() string {
	return "{{ $.Name }}ID"
}

// XXX_GraphQLID is an internal function. It returns the underlying type ID
func (r *{{ $.Name | InterfaceClientName }}) XXX_GraphQLID(ctx context.Context) (string, error) {
  id, err := r.ID(ctx)
  if err != nil {
    return "", err
  }
	return string(id), nil
}

func (r *{{ $.Name | InterfaceClientName }}) MarshalJSON() ([]byte, error) {
  id, err := r.ID(marshalCtx)
  if err != nil {
    return nil, err
  }
  return json.Marshal(id)
}

{{- if IsModuleCode }}
func (r *{{ $.Name | InterfaceClientName }}) UnmarshalJSON(bs []byte) error {
  var id string
  err := json.Unmarshal(bs, &id)
  if err != nil {
    return err
  }
  *r = *(dag.Load{{ $.Name | FormatName }}FromID({{ $.Name | FormatName }}ID(id)).(*{{ $.Name | InterfaceClientName }}))
  return nil
}
{{- end }}
{{ end }}

{{ end -}}
