[project]
name = "main"
version = "0.0.0"
requires-python = ">= 3.11"

[tool.rye]
managed = true
dev-dependencies = [
]

[tool.rye.workspace]
members = ["sdk"]

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"
