{{ define "args" }}
	{{- $maxIndex := len . }}
	{{- $maxIndex = Subtract $maxIndex 1 }}
	{{- range $index, $value := . }}
		{{- template "arg" . }}
		{{- if ne $index $maxIndex -}}
			{{ "" }}, {{ "" }}
		{{- end }}
	{{- end }}
{{- end }}
