{{ define "field" }}
	{{- if Solve . }}async {{end}}
	{{- .Name -}}
	(
		{{- with .Args -}}
	{{- "" }}args: { {{ template "args" . }} }{{ "" -}}
		{{- end -}}
	)
	{{- if Solve . -}}
		{{ "" }} : Promise<Record<string, string>>{{ "" }}
	{{- else -}}
		{{- with .TypeRef }}
			{{- if .Name }}
				{{- template "return" . -}}
			{{ end -}}
		{{- end -}}
	{{- end -}}
{{ end }}
