{{ define "input_args" -}}
	{{- "" }}args{{ "" -}}
	{{- if .Args.HasOptionals }}
		{{- "?" -}}
	{{ end }}
	{{- "" }}: {{ .ParentObject.Name | PascalCase }}{{ .Name | PascalCase }}Args{{ "" -}}
{{- end }}
