{{ define "input_args" -}}
	{{- "" }}args{{ "" -}}
	{{- if IsSingleOptional .Args }}
		{{- "?" -}}
	{{- end }}
	{{- $parentName := .ParentObject.Name }}
	{{- if eq $parentName "Query" }}
	{{- $parentName = "Client" }}
	{{- end }}
	{{- "" }}: {{ $parentName | PascalCase }}{{ .Name | PascalCase }}Args{{ "" -}}
{{- end }}
