{{ define "object" }}
{{ $commentLines := CommentToLines .Description }}

{{- template "comment" $commentLines }}
class {{ .Name | FormatName }} extends BaseApi {

  get getQueryTree() {
    return this._queryTree;
  }

{{ range $field := .Fields }}
{{ end -}}

}
{{ end }}
