{{ define "object" }}
{{ $commentLines := CommentToLines .Description }}
{{- /* we split the comment string into a string slice of one line per element */ -}}

{{- if .Description -}}
	{{- template "comment" $commentLines -}}
{{- end -}}
class {{ .Name | FormatName }} extends BaseApi {
{{ range $field := .Fields }}
  {{ template "field" . }}
{{ end -}}

}
{{ end }}
