parameters:
	ignoreErrors:
		-
			message: '#^Parameter \#1 \$iterator of class RecursiveIteratorIterator constructor expects RecursiveArrayIterator\<\(int\|string\), bool\|float\|int\|string\|null\>, RecursiveArrayIterator\<\(int\|string\), bool\|float\|int\|string\|null\> given\.$#'
			identifier: argument.type
			count: 1
			path: src/Client/AbstractClient.php

		-
			message: '#^Argument of an invalid type \$this\(Dagger\\Client\\AbstractInputObject\) supplied for foreach, only iterables are supported\.$#'
			identifier: foreach.nonIterable
			count: 1
			path: src/Client/AbstractInputObject.php

		-
			message: '#^Unsafe usage of new static\(\)\.$#'
			identifier: new.static
			count: 1
			path: src/Client/AbstractScalar.php

		-
			message: '#^Instanceof between array\<bool\|float\|int\|string\>\|bool\|float\|int\|string\|null and Dagger\\Client\\IdAble will always evaluate to false\.$#'
			identifier: instanceof.alwaysFalse
			count: 1
			path: src/ValueObject/Argument.php

		-
			message: '''
				#^PHPDoc tag @var has invalid value \(array\<string,DaggerFunction\[\]
				name \=\> DaggerFunction pairs\)\: Unexpected token "name", expected '\>' at offset 52 on line 3$#
			'''
			identifier: phpDoc.parseError
			count: 1
			path: src/ValueObject/DaggerObject.php

		-
			message: '#^Using nullsafe property access "\?\-\>description" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: src/ValueObject/DaggerObject.php
