<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.4/phpunit.xsd" backupGlobals="false" colors="true" bootstrap="vendor/autoload.php" failOnRisky="true" failOnWarning="true">
  <php>
    <ini name="error_reporting" value="-1"/>
  </php>
  <testsuites>
    <testsuite name="dagger-php-sdk">
      <directory>./tests/</directory>
    </testsuite>
  </testsuites>
  <coverage/>
  <source>
    <include>
      <directory>./src</directory>
      <directory>./generated</directory>
    </include>
  </source>
</phpunit>
