# https://www.algolia.com/apps/XSSC1LRN4S/explorer/browse/Dagger_docs
APPLICATION_ID=XSSC1LRN4S
# Copy your "Write API KEY" from https://www.algolia.com/account/api-keys/all?applicationId=XSSC1LRN4S
API_KEY=
# This will not work on an ARM Mac, the algolia/docsearch-scraper image was only built for linux 64bit
# I am using a Docker Engine on Linux here:
DOCKER_HOST=ssh://192.168.1.22
