[build]
  publish = "build/"
  command = "yarn run graphql-docs && yarn run docusaurus build"
  environment = { NODE_VERSION = "16.14" }

[context.production]
  ignore = "false"

[context.deploy-preview]
  ignore = "false"

[[redirects]]
  # Embargoes compliance. DO NOT REMOVE
  conditions = {Country = ["CU", "IR", "KP", "SY", "UA-43"]}
  from = "/*"
  to = "/restricted"
  status = 302
  force = true

[[redirects]]
from = "/t"
to = "https://api.amplitude.com"
status = 200

[[redirects]]
from = "/api/reference"
to = "/api/reference/"
status = 200

[[redirects]]
from = "/reference"
to = "/reference/alpine"
status = 302

[[redirects]]
from = "/1241/dagger-cloud"
to = "/1243/dagger-cloud"
status = 302

[[headers]]
  for = "/*"
  [headers.values]
    Referrer-policy = "no-referrer-when-downgrade"
