[build]
  publish = "build/"
  command = "yarn run graphql-docs && yarn run docusaurus build"
  environment = { NODE_VERSION = "16.14" }

[context.production]
  ignore = "false"

[context.deploy-preview]
  ignore = "false"

[[redirects]]
  # Embargoes compliance. DO NOT REMOVE
  conditions = {Country = ["CU", "IR", "KP", "SY", "UA-43"]}
  from = "/*"
  to = "/restricted"
  status = 302
  force = true

[[redirects]]
from = "/api/reference"
to = "/api/reference/"
status = 200

[[redirects]]
from = "/reference"
to = "/reference/alpine"
status = 302

[[redirects]]
from = "/1241/dagger-cloud"
to = "/1243/dagger-cloud"
status = 302

[[redirects]]
# redirect single-language guide index to unified guides index
from = "/sdk/go/275922/guides"
to = "/guides"
status = 302

[[redirects]]
# redirect single-language guide index to unified guides index
from = "/sdk/nodejs/947203/guides"
to = "/guides"
status = 302

[[redirects]]
# redirect single-language guide index to unified guides index
from = "/sdk/python/234291/guides"
to = "/guides"
status = 302

[[redirects]]
# URL consistency fix
from = "/sdk/go/406009/multiplatform-support"
to = "/406009/multiplatform-support"
status = 302

[[redirects]]
# URL consistency fix
from = "/sdk/nodejs/620941/github-google-cloud"
to = "/620941/github-google-cloud"
status = 302

[[redirects]]
# URL consistency fix
from = "/sdk/python/648384/multi-builds"
to = "/648384/multi-builds"
status = 302

[[redirects]]
# redirect single-language guide to multi-language guide
from = "/560223/private-repositories"
to = "/710884/private-repositories"
status = 302

[[redirects]]
# redirect single-language guide to multi-language guide
from = "/683293/private-repositories"
to = "/710884/private-repositories"
status = 302

[[redirects]]
# redirect Go CI guide to unified multi-language CI guide
from = "/768421/go-ci"
to = "/145912/ci"
status = 302

[[redirects]]
# redirect Node.js CI guide to unified multi-language CI guide
from = "/114934/nodejs-ci"
to = "/145912/ci"
status = 302

[[redirects]]
# redirect Python CI guide to unified multi-language CI guide
from = "/454108/python-ci"
to = "/145912/ci"
status = 302

[[redirects]]
# redirect old guides index page
from = "/278912/guides"
to = "/guides"
status = 302

[[redirects]]
# redirect old cookbook index page
from = "/7442989/cookbook"
to = "/cookbook"
status = 302

[[redirects]]
# redirect old FAQ index page
from = "/162770/faq"
to = "/faq"
status = 302

[[redirects]]
# redirect old quickstart index page
from = "/648215/quickstart"
to = "/quickstart"
status = 302

**
[[redirects]]
# redirect old quickstart basics page
from = "/319191/quickstart-basics"
to = "/quickstart/319191/basics"
status = 302

[[redirects]]
# redirect old quickstart setup page
from = "/120918/quickstart-setup"
to = "/quickstart/120918/setup"
status = 302

[[redirects]]
# redirect old quickstart sdk page
from = "/628381/quickstart-sdk"
to = "/quickstart/628381/sdk"
status = 302

[[redirects]]
# redirect old quickstart first pipeline page
from = "/593914/quickstart-hello"
to = "/quickstart/593914/hello"
status = 302

[[redirects]]
# redirect old quickstart test page
from = "/947391/quickstart-test"
to = "/quickstart/947391/test"
status = 302

[[redirects]]
# redirect old quickstart build page
from = "/349011/quickstart-build"
to = "/quickstart/349011/build"
status = 302

[[redirects]]
# redirect old quickstart publish page
from = "/730264/quickstart-publish"
to = "/quickstart/730264/publish"
status = 302

[[redirects]]
# redirect old quickstart multi-build page
from = "/472910/quickstart-build-multi"
to = "/quickstart/472910/build-multi"
status = 302

[[redirects]]
# redirect old quickstart caching page
from = "/635927/quickstart-caching"
to = "/quickstart/635927/caching"
status = 302

[[redirects]]
# redirect old quickstart dockerfile build page
from = "/429462/quickstart-build-dockerfile"
to = "/429462/quickstart-build-dockerfile"
status = 302

[[redirects]]
# redirect old quickstart conclusion page
from = "/481031/quickstart-conclusion"
to = "/quickstart/481031/conclusion"
status = 302

# redirect to the playground's embed to maintain same origin
# see https://github.com/dagger/dagger/pull/4753
[[redirects]]
  from = "/embed/*"
  to = "https://play.dagger.cloud/embed/:splat"
  status = 200

# redirect to the playground's Next.js build artifacts
[[redirects]]
  from = "/_next/*"
  to = "https://play.dagger.cloud/_next/:splat"
  status = 200

[[headers]]
  for = "/*"
  [headers.values]
    Referrer-policy = "no-referrer-when-downgrade"
