[build]
  publish = "build/"
  command = "yarn build"
  environment = { NODE_VERSION = "16.14" }

[context.production]
  ignore = "false"

[context.deploy-preview]
  ignore = "false"

[[redirects]]
  # Embargoes compliance. DO NOT REMOVE
  conditions = {Country = ["CU", "IR", "KP", "SY", "UA-43"]}
  from = "/*"
  to = "/restricted"
  status = 302
  force = true

[[redirects]]
  from = "/github-proxy/*"
  to = "https://github.com/:splat"
  status = 200

[[redirects]]
  from = "/github-api-proxy/*"
  to = "https://api.github.com/:splat"
  status = 200

[[redirects]]
  from = "/docs-access/*"
  to = "https://j20f3pfq11.execute-api.us-east-1.amazonaws.com/Prod/u/:splat"
  status = 200

[[headers]]
  for = "/*"
  [headers.values]
    Referrer-policy = "no-referrer-when-downgrade"
