{{- if IsEnum . }}
	{{- $enumName := .Name }}
type {{ $enumName }} string


const (
	{{- range $index, $field := .EnumValues }}
	{{ $field.Name | FormatEnum}} {{ $enumName }} = "{{ $field.Name }}"
	{{- end }}
)

{{- end }}