{{ .Description | Comment }}
type {{ .Name | FormatName }} struct {
{{- range $field := .InputFields }}
{{ $field.Description | Comment }}
{{ $field.Name | FormatName }} {{ $field.TypeRef | FormatInputType }} `json:"{{ $field.Name }}"`
{{ end }}
}
