@use "./custom";

.cardGrid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

.card {
  display: flex;
  height: 100%;
  padding: 1.5rem;

  border: 2px solid var(--ifm-color-primary-darker);
  box-shadow: 4px 4px 0px 0px rgba(64, 185, 188, 1);

  transition: all 0.3s ease-in-out;

  html[data-theme="dark"] & {
    border: 2px solid var(--ifm-color-primary-light);
    background-color: var(--ifm-color-primary-light);
    color: var(--ifm-color-primary-darker);

    h4 {
      color: var(--ifm-color-primary-darker);
    }
  }

  & .description {
    padding-left: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;

    & h4 {
      margin-bottom: 0.5rem;
      font-size: 1.4rem;
    }
    & p {
      margin: 0;
      font-size: 0.8rem;
      line-height: 1rem;
    }
  }
  & img {
    width: 80px;
    margin: 0;
    height: 80px;
    object-fit: contain;
    border-radius: 5px;
    border: 1px solid black;
  }

  & hr {
    border: 1px solid grey;
    grid-column: 1/3;
    margin: 0rem 1rem;
  }

  &:hover {
    box-shadow: 4px 4px 0px 0px var(--ifm-color-primary-darker);
  }
}

.link {
  flex: 1 1 45%;
  min-width: 250px;

  @include custom.mobile {
    flex: 1 1 500px;
    max-width: 100vw;
  }
}

.fullWidth {
  width: 100% !important;
}
