name: "New Release Notification"

on:
  workflow_call:
    inputs:
      message:
        type: string
        required: true

jobs:
  discord:
    runs-on: ubuntu-latest
    steps:
      - name: Notify Discord
        env:
          DISCORD_WEBHOOK: ${{ secrets.NEW_RELEASE_DISCORD_WEBHOOK }}
        uses: dagger/dagger-for-github@v5
        with:
          version: '0.11.4'
          module: 'github.com/gerhard/daggerverse/notify@2024-02-13'
          args: discord --webhook-url env:DISCORD_WEBHOOK --message '${{ inputs.message }}'
