name: Benchmark Engine

on:
  # Run the workflow every day at 5AM UTC
  # That's 9PM PST, 12AM EST, 6AM CET
  schedule:
    - cron: "0 5 * * *"
  pull_request:
    types:
      - synchronize
      - labeled
  # Enable manual trigger for easy debugging
  workflow_dispatch:

permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  benchdev:
    if: ${{ github.repository == 'dagger/dagger' && (github.event_name != 'pull_request' || contains(github.event.pull_request.labels.*.name, 'benchmark')) }}
    runs-on:
        - 'dagger-g3-v0-19-3-16c-st-benchmark'
    timeout-minutes: 10
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
      - name: Warm up Engine
        run: dagger core version
      - name: Benchmark Engine
        uses: ./.github/actions/call
        env:
          OP_SERVICE_ACCOUNT_TOKEN: ${{ secrets.OP_SERVICE_ACCOUNT_TOKEN }}
        with:
          module: github.com/${{ github.repository }}@${{ github.sha }}
          function: bench all --prewarm ${{ github.event_name != 'pull_request' && '--discord-webhook="op://releng/Discord Webhook - Engine Benchmarks/credential"' || '' }}
          dev-engine: false
          upload-logs: true
