name: Docs

on:
  push:
    branches: ["main"]
  pull_request:
    types:
      - opened
      - synchronize
      - reopened
      - ready_for_review
  # Enable manual trigger for easy debugging
  workflow_dispatch:

permissions:
  contents: read
  # Optional: allow read access to pull request. Use with `only-new-issues` option.
  # pull-requests: read

jobs:
  lint:
    runs-on: "${{ github.repository == 'dagger/dagger' && 'dagger-wolfi-main-4c-nvme' || 'ubuntu-latest' }}"
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v4
      - name: "docs lint"
        uses: ./.github/actions/call
        with:
          function: "docs lint"
