name: Engine & CLI lint

on:
  push:
    branches: ["main"]
  pull_request:
    types:
      - opened
      - synchronize
      - reopened
      - ready_for_review
  # Enable manual trigger for easy debugging
  workflow_dispatch:

permissions:
  contents: read
  pull-requests: write

jobs:
  lint:
    uses: ./.github/workflows/_hack_make.yml
    secrets: inherit
    with:
      call: engine lint
