name: Helm

on:
  push:
    branches: ["main"]
  pull_request:
    types:
      - opened
      - synchronize
      - reopened
      - ready_for_review
    paths-ignore:
      - docs/**
  # Enable manual trigger for easier debugging
  workflow_dispatch:

permissions:
  contents: read
  pull-requests: write

jobs:
  test:
    runs-on: "${{ github.repository == 'dagger/dagger' && 'dagger-v0-11-6' || 'ubuntu-latest' }}"
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v4
      - name: "helm test"
        uses: ./.github/actions/call
        with:
          function: "helm test"
      - name: "helm test publish"
        uses: ./.github/actions/call
        with:
          function: "helm publish --dry-run=true --tag=main"
