# This file was generated. See https://daggerverse.dev/mod/github.com/dagger/dagger/modules/gha
name: Lint install scripts
"on":
    push:
        branches:
            - main
            - releases/**
    pull_request:
        types:
            - opened
            - reopened
            - synchronize
            - ready_for_review
    workflow_dispatch: {}
permissions:
    contents: read
concurrency:
    group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
    cancel-in-progress: true
jobs:
    lint-install-scripts:
        runs-on:
            - ${{ github.repository == 'dagger/dagger' && 'nscloud-ubuntu-24.04-amd64-8x16' || 'ubuntu-24.04' }}
        name: Lint install scripts
        steps:
            - name: Checkout
              uses: actions/checkout@v4
            - name: exec
              id: exec
              uses: dagger/dagger-for-github@v8.2.0
              with:
                call: --docker-cfg=file:$HOME/.docker/config.json lint-scripts
                cloud-token: dag_dagger_sBIv6DsjNerWvTqt2bSFeigBUqWxp9bhh3ONSSgeFnw
                module: github.com/${{ github.repository }}@${{ github.sha }}
                version: v0.19.6
        timeout-minutes: 20
