name: Lint

on:
  push:
    branches: [main]
    paths:
      - "**.go"
      - "**.sh"
      - "**.bash"
      - "**.cue"
      - "docs/**"
      - ".golangci.yml"
      - "Makefile"
      - "README.md"
      - ".github/workflows/lint.yml"
  pull_request:
    branches: [main]
    paths:
      - "**.go"
      - "**.sh"
      - "**.bash"
      - "**.cue"
      - "docs/**"
      - ".golangci.yml"
      - "Makefile"
      - "README.md"
      - ".github/workflows/lint.yml"

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - name: "Check out"
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: "Set up go"
        uses: actions/setup-go@v1
        with:
          go-version: 1.16

      - name: "Expose GitHub Runtime"
        uses: crazy-max/ghaction-github-runtime@v1

      # - name: "Set up dagger from source"
      #   run: |
      #     make dagger
      #     cp ./cmd/dagger/dagger /usr/local/bin

      - name: "Set up dagger"
        uses: dagger/dagger-for-github@v2
        with:
          install-only: true

      - name: Lint
        env:
          DAGGER_LOG_LEVEL: "debug"
          DAGGER_LOG_FORMAT: "plain"
          DAGGER_CACHE_TO: "type=gha,mode=max,scope=dagger-ci-lint"
          DAGGER_CACHE_FROM: "type=gha,scope=dagger-ci-lint"
        run: |
          dagger do lint

      - name: Print Buildkitd Logs
        if: ${{ failure() }}
        run: |
          docker logs dagger-buildkitd
