name: publish-engine
on:
  push:
    branches:
      - main
    tags:
      - 'v*'
    paths:
      - 'cmd/**'
      - 'codegen/**'
      - 'core/**'
      - 'engine/**'
      - 'internal/engine/**'
      - 'project/**'
      - 'router/**'
      - 'secret/**'
      - 'tracing/**'
      - go.mod
jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-go@v3
        with:
          go-version: 1.19

      - uses: docker/login-action@f054a8b539a109f9f41c372932f1ae047eff08c9
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.RELEASE_DAGGER_CI_TOKEN }}
      - run: ./hack/make engine:publish ${{ github.ref_name }}

      - name: Bump SDK Engine Dependencies
        uses: peter-evans/create-pull-request@v3
        if: github.ref_name != 'main'
        with:
          add-paths: ./sdk/
          committer: Dagger CI <hello@dagger.io>
          author: Dagger CI <hello@dagger.io>
          commit-message: "sdk: Bump engine dependency to ${{ github.ref_name }}"
          signoff: true
          title: "sdk: Bump engine dependency to ${{ github.ref_name }}"
          body: |
            This PR was auto-generated.
          delete-branch: true
          branch: bump-engine
