name: Publish
on:
  push:
    branches: ["dagger-io-bump-workflow"]

jobs:
  # TODO: move this into Publish above
  dagger-io-bump-dagger:
    #foo
    runs-on: dagger-g3-v0-19-11-4c
    steps:
      # Configure credentials to clone dagger modules
      - uses: de-vri-es/setup-git-credentials@v2
        with:
          credentials: https://dagger-ci:${{ secrets.RELEASE_DAGGER_CI_TOKEN }}@github.com
      - uses: actions/checkout@v4
      - name: "Bump Dagger version in dagger.io applications"
        uses: ./.github/actions/call
        env:
          RELEASE_DAGGER_CI_TOKEN: ${{ secrets.RELEASE_DAGGER_CI_TOKEN }}
        with:
          function: open-pr --to="v0.19.11" --github-token=env:RELEASE_DAGGER_CI_TOKEN --github-assignee="${{ github.actor }}"
          module: github.com/dagger/dagger.io/infra/dagger-version-manager@main
