name: "Publish NodeJS SDK"
on:
  push:
    tags: ["sdk/nodejs/v**"]
jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v3
        with:
          go-version: "1.20"
      - run: ./hack/make sdk:nodejs:publish ${{ github.ref_name }}
        env:
          NPM_TOKEN: ${{ secrets.RELEASE_NPM_TOKEN }}
          _EXPERIMENTAL_DAGGER_JOURNAL: "/tmp/journal.log"
          _EXPERIMENTAL_DAGGER_CLOUD_TOKEN: "p.eyJ1IjogIjFiZjEwMmRjLWYyZmQtNDVhNi1iNzM1LTgxNzI1NGFkZDU2ZiIsICJpZCI6ICIwYzhmMGY2Yy00YjY1LTRhODktYTI0YS0yN2NjNWNhNzNmNTcifQ.Em92UDP-KmcNd80Y-euTS2IrRkIE8qTisP3SXYkQi3c"
      - uses: actions/upload-artifact@v3
        if: always()
        name: "Upload journal.log"
        continue-on-error: true
        with:
          name: ${{ github.workflow }}-${{ github.job }}-journal.log
          path: /tmp/journal.log
