name: "Publish Rust SDK"
on:
  push:
    tags: ["sdk/rust/v**"]
jobs:
  publish:
    if: github.repository == 'dagger/dagger'
    runs-on: "${{ github.repository == 'dagger/dagger' && 'dagger-g2-v0-15-0-4c' || 'ubuntu-latest' }}"
    steps:
      - uses: actions/checkout@v4
      - name: "go publish"
        uses: ./.github/actions/call
        env:
          RELEASE_DAGGER_CI_TOKEN: ${{ secrets.RELEASE_DAGGER_CI_TOKEN }}
          RELEASE_DISCORD_WEBHOOK: ${{ secrets.NEW_RELEASE_DISCORD_WEBHOOK }}
          CARGO_REGISTRY_TOKEN: ${{ secrets.CARGO_REGISTRY_TOKEN }}
        with:
          function: sdk rust publish --tag="${{ github.ref_name }}" --github-token=env:RELEASE_DAGGER_CI_TOKEN --discord-webhook=env:RELEASE_DISCORD_WEBHOOK --cargo-registry-token=env:CARGO_REGISTRY_TOKEN
