name: "Close stale PRs"

on:
  schedule:
    - cron: "30 1 * * *"

jobs:
  stale:
    runs-on: ubuntu-latest
    permissions:
      issues: write
      pull-requests: write
    steps:
      - uses: actions/stale@v4
        with:
          stale-pr-label: stale
          stale-pr-message: "This PR is stale because it has been open 14 days with no activity. Remove stale label or comment or this will be closed in 7 days."
          close-pr-message: "This PR was closed because it has been stalled for 7 days with no activity."
          days-before-pr-stale: 14
          days-before-pr-close: 7
          stale-issue-label: stale
          days-before-issue-stale: -1
          days-before-issue-close: -1
