name: test
on:
  push:
    tags:
      - v*
    branches:
      - main
  pull_request:
jobs:
  go:
    name: go
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-go@v3
        with:
          go-version: 1.19
      - uses: actions/checkout@v3
      - run: go test -race -timeout=30m -v ./...
