name: test

on:
  push:
    branches: ["main"]
  pull_request:
  # Enable manual trigger for easy debugging
  # https://docs.github.com/en/actions/using-workflows/workflow-syntax-for-github-actions#onworkflow_dispatchinputs
  workflow_dispatch:

permissions:
  contents: read
  pull-requests: write

jobs:
  engine:
    runs-on: ubuntu-22.04-16c-64g-600gb
    steps:
      - name: "Set up QEMU"
        run: |
          docker run --rm --privileged tonistiigi/binfmt:latest --install all
      - uses: actions/setup-go@v3
        with:
          go-version: 1.19
      - uses: actions/checkout@v3
      - run: ./hack/make engine:test
        env:
          _EXPERIMENTAL_DAGGER_JOURNAL: "/tmp/journal.log"
      - name: "ALWAYS print engine logs - especialy useful on failure"
        if: always()
        run: docker logs dagger-engine.dev
      - name: "ALWAYS print kernel logs - especialy useful on failure"
        if: always()
        run: sudo dmesg
      - run: go build ./cmd/otel-collector
        if: always()
      - run: |
          ./otel-collector /tmp/journal.log \
            --name "${{ github.repository }}#${{ github.ref }}@${{ github.run_number }}.${{ github.run_attempt }}" \
            --label "github.repository=${{ github.repository }}" \
            --label "github.ref=${{ github.ref }}" \
            --label "github.workflow=${{ github.workflow }}" \
            --label "github.job=engine" \
            --label "github.run_number=${{ github.run_number }}" \
            --label "github.run_attempt=${{ github.run_attempt }}" \
            > ./comment.md
        shell: bash
        if: always()
        env:
          OTEL_SERVICE_NAME: "dagger"
          OTEL_EXPORTER_OTLP_ENDPOINT: "https://tempo-us-central1.grafana.net:443"
          OTEL_EXPORTER_OTLP_HEADERS: "Authorization=Basic MzUzMzUzOmdsY19leUp2SWpvaU56Y3dOelkwSWl3aWJpSTZJbTFsZEhKcFkzTnNiMmR6ZEhKaFkyVnpkM0pwZEdWeUxXZHBkR2gxWWkxa1lXZG5aWEl0WkdGbloyVnlMWEpsY0c4dFlXNWtMV1p2Y210eklpd2lheUk2SWprNE15MU1YM00wZkhwZExETWpOSG8vTXlzd0t5ZzFNQ0lzSW0waU9uc2ljaUk2SW5WekluMTk="
          GRAFANA_CLOUD_USER_ID: "356840"
          GRAFANA_CLOUD_URL: "https://logs-prod-017.grafana.net"
          GRAFANA_CLOUD_API_KEY: "glc_eyJvIjoiNzcwNzY0IiwibiI6Im1ldHJpY3Nsb2dzdHJhY2Vzd3JpdGVyLWdpdGh1Yi1kYWdnZXItZGFnZ2VyLXJlcG8tYW5kLWZvcmtzIiwiayI6Ijk4My1MX3M0fHpdLDMjNHo/MyswKyg1MCIsIm0iOnsiciI6InVzIn19"
      - name: PR comment
        # Only comment on PRs
        if: github.event_name == 'pull_request'
        uses: thollander/actions-comment-pull-request@v2
        with:
          filePath: ./comment.md
          comment_tag: telemetry

  # Run egine tests with race condition detection
  # https://go.dev/blog/race-detector
  #
  # Run in parallel to the regular tests so that the entire pipeline finishes quicker
  engine-race-detection:
    runs-on: ubuntu-22.04-16c-64g-600gb
    steps:
      - uses: actions/setup-go@v3
        with:
          go-version: 1.19
      - uses: actions/checkout@v3
      - run: ./hack/make engine:build
      - run: echo $PWD/bin >> $GITHUB_PATH
      - run: ./hack/make engine:testrace
      - name: "ALWAYS print engine logs - especialy useful on failure"
        if: always()
        run: docker logs dagger-engine.dev
      - name: "ALWAYS print kernel logs - especialy useful on failure"
        if: always()
        run: sudo dmesg

  sdk-go:
    name: "sdk / go"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v3
        with:
          go-version: 1.19
      - run: ./hack/make sdk:go:test

  sdk-python:
    name: "sdk / python"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v3
        with:
          go-version: 1.19
      - run: ./hack/make sdk:python:test

  sdk-nodejs:
    name: "sdk / nodejs"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v3
        with:
          go-version: 1.19
      - run: ./hack/make sdk:nodejs:test
