name: test
on:
  push:
    tags:
      - v*
    branches:
      - main
  pull_request:
  # Enable manual trigger for easy ad-hoc debugging
  # https://docs.github.com/en/actions/using-workflows/workflow-syntax-for-github-actions#onworkflow_dispatchinputs
  workflow_dispatch:
jobs:
  engine:
    name: engine
    runs-on: ubuntu-22.04-16c-64g-600gb
    steps:
      - uses: actions/setup-go@v3
        with:
          go-version: 1.19
      - uses: actions/checkout@v3
      - run: go install $(pwd)/cmd/dagger/
      - run: go test -v ./...
  engine-race:
    needs: [engine] # prioritize fast feedback + don't bother if tests fail
    name: engine with -race
    runs-on: ubuntu-22.04-16c-64g-600gb
    steps:
      - uses: actions/setup-go@v3
        with:
          go-version: 1.19
      - uses: actions/checkout@v3
      - run: go install $(pwd)/cmd/dagger/
      - run: go test -v -race -timeout=1h ./...
  sdk-go:
    name: sdk / go
    runs-on: ubuntu-22.04-16c-64g-600gb
    steps:
      - uses: actions/setup-go@v3
        with:
          go-version: 1.19
      - uses: actions/checkout@v3
      - run: cd sdk/go && go test -v ./...
  sdk-nodejs:
    name: sdk / nodejs
    runs-on: ubuntu-22.04-16c-64g-600gb
    steps:
      - uses: actions/setup-go@v3
        with:
          go-version: 1.19
      - uses: actions/setup-node@v3
        with:
          node-version: 16
      - uses: actions/checkout@v3
      - run: go install $(pwd)/cmd/dagger/
      - run: yarn install
      - run: yarn run test-sdk
