name: test
on:
  push:
    branches: [main]
    paths:
      - "**.go"
      - "go.mod"
      - "go.sum"
      - "sdk/nodejs/**.js"
      - "sdk/python/**.py"
      - ".github/workflows/test.yml"
  pull_request:
    branches: [main]
    paths:
      - "**.go"
      - "go.mod"
      - "go.sum"
      - "**/go.mod"
      - "**/go.sum"
      - "sdk/nodejs/**.js"
      - "sdk/python/**.py"
      - ".github/workflows/test.yml"
  # Enable manual trigger for easy ad-hoc debugging
  # https://docs.github.com/en/actions/using-workflows/workflow-syntax-for-github-actions#onworkflow_dispatchinputs
  workflow_dispatch:
jobs:
  engine:
    runs-on: ubuntu-22.04-16c-64g-600gb
    steps:
      - name: Set up QEMU
        run: |
          docker run --rm --privileged tonistiigi/binfmt:latest --install all
      - uses: actions/setup-go@v3
        with:
          go-version: 1.19
      - uses: actions/checkout@v3
      - run: ./hack/dev ./hack/make engine:build
      - run: cp ./bin/cloak /usr/local/bin
      - run: ./hack/test
      - name: Print Engine Logs
        if: always()
        run: |
          docker logs test-dagger-engine
  engine-race:
    needs: [engine] # prioritize fast feedback + don't bother if tests fail
    name: engine with -race
    runs-on: ubuntu-22.04-16c-64g-600gb
    steps:
      - uses: actions/setup-go@v3
        with:
          go-version: 1.19
      - uses: actions/checkout@v3
      - run: go install $(pwd)/cmd/cloak/
      - run: ./hack/dev ./hack/make engine:testrace
      - name: Print Engine Logs
        if: always()
        run: |
          docker logs test-dagger-engine
  sdk-go:
    name: sdk / go
    runs-on: ubuntu-22.04-16c-64g-600gb
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v3
        with:
          go-version: 1.19
      - run: ./hack/dev ./hack/make sdk:go:test
  sdk-python:
    name: sdk / python
    runs-on: ubuntu-22.04-16c-64g-600gb
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v3
        with:
          go-version: 1.19
      - run: ./hack/dev ./hack/make sdk:python:test
  sdk-nodejs:
    name: sdk / nodejs
    runs-on: ubuntu-22.04-16c-64g-600gb
    steps:
      - uses: actions/setup-go@v3
        with:
          go-version: 1.19
      - uses: actions/setup-node@v3
        with:
          # ⚠️  Keep this in sync with https://github.com/dagger/dagger/blob/main/package.json#L14
          node-version: 16
      - uses: actions/checkout@v3
      - run: go install $(pwd)/cmd/cloak/
      - run: yarn install
      - run: yarn run test-sdk
