# This file was generated. See https://daggerverse.dev/mod/github.com/dagger/dagger/modules/gha
name: Test Helm chart
"on":
    push:
        branches:
            - main
            - releases/**
    pull_request:
        types:
            - opened
            - reopened
            - synchronize
            - ready_for_review
    workflow_dispatch: {}
permissions:
    contents: read
concurrency:
    group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
    cancel-in-progress: true
jobs:
    test-helm-chart:
        runs-on:
            - ${{ github.repository == 'dagger/dagger' && 'nscloud-ubuntu-24.04-amd64-8x16' || 'ubuntu-24.04' }}
            - ${{ github.repository == 'dagger/dagger' && 'namespace-experiments:dagger.integration=enabled;dagger.version=0.19.3' || 'ubuntu-24.04' }}
        name: Test Helm chart
        steps:
            - name: Checkout
              uses: actions/checkout@v4
            - name: exec
              id: exec
              uses: dagger/dagger-for-github@v8.2.0
              with:
                call: --docker-cfg=file:$HOME/.docker/config.json check-test-helm
                cloud-token: dag_dagger_sBIv6DsjNerWvTqt2bSFeigBUqWxp9bhh3ONSSgeFnw
                module: github.com/${{ github.repository }}@${{ github.sha }}
                version: v0.19.3
        timeout-minutes: 20
