name: test

on:
  push:
  pull_request:
  # Enable manual trigger for easy debugging
  # https://docs.github.com/en/actions/using-workflows/workflow-syntax-for-github-actions#onworkflow_dispatchinputs
  workflow_dispatch:

jobs:
  engine:
    runs-on: ubuntu-22.04-16c-64g-600gb
    steps:
      - name: "Set up QEMU"
        run: |
          docker run --rm --privileged tonistiigi/binfmt:latest --install all
      - uses: actions/setup-go@v3
        with:
          go-version: 1.19
      - uses: actions/checkout@v3
      - run: ./hack/dev ./hack/make engine:build
      - run: echo $PWD/bin >> $GITHUB_PATH
      - run: ./hack/dev ./hack/make engine:test
      - name: "ALWAYS print engine logs - especialy useful on failure"
        if: always()
        run: docker logs test-dagger-engine
      - name: "ALWAYS print kernel logs - especialy useful on failure"
        if: always()
        run: sudo dmesg

  # Run egine tests with race condition detection
  # https://go.dev/blog/race-detector
  #
  # Run in parallel to the regular tests so that the entire pipeline finishes quicker
  engine-race-detection:
    runs-on: ubuntu-22.04-16c-64g-600gb
    steps:
      - uses: actions/setup-go@v3
        with:
          go-version: 1.19
      - uses: actions/checkout@v3
      - run: ./hack/dev ./hack/make engine:build
      - run: echo $PWD/bin >> $GITHUB_PATH
      - run: ./hack/dev ./hack/make engine:testrace
      - name: "ALWAYS print engine logs - especialy useful on failure"
        if: always()
        run: docker logs test-dagger-engine
      - name: "ALWAYS print kernel logs - especialy useful on failure"
        if: always()
        run: sudo dmesg

  sdk-go:
    name: "sdk / go"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v3
        with:
          go-version: 1.19
      - run: ./hack/dev ./hack/make sdk:go:test

  sdk-python:
    name: "sdk / python"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v3
        with:
          go-version: 1.19
      - run: ./hack/dev ./hack/make sdk:python:test

  sdk-nodejs:
    name: "sdk / nodejs"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v3
        with:
          go-version: 1.19
      - run: ./hack/dev ./hack/make sdk:nodejs:test
